<div class="home__container">
    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DIGITAL"
    gameType="Digital | PS4"
    gamePrice="R$129.99"
    
    > </app-card>
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gameType="Digital | PS4"
    gamePrice="R$139.99"
    > </app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="BEST OF YEAR"
    gameType="Digital | PS4"
    gamePrice="R$239.99"
    > </app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="NEW"
    gameType="Digital | PS4"
    gamePrice="R$189.99"
    > </app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="Digital | PS4"
    gamePrice="R$110.99"
    > </app-card>

    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="NEW"
    gameType="Digital | PS4"
    gamePrice="R$119.99"
    > </app-card>

</div>

